/* PatientList.css */
.patient-list-container {
    position: relative;
    overflow: hidden;
    /* Ensure the container is positioned relatively for the pseudo-element to be positioned correctly */
  }
  
  .patient-list-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://res.cloudinary.com/dsfgf7eb7/image/upload/v1718718836/Caregivers-vs-Caretakers_w8rd17.webp') no-repeat center center;
    background-size: cover;
    filter: blur(8px); /* Apply blur effect */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
  }
  
  .patient-list-content {
    position: relative;
    z-index: 1; /* Ensure content is above the blurred background */
  }
  